<footer class="footer mt-auto py-3 component-footer" [ngClass]="{'z-index-up' : page !== 'home'}">
  <div class="container">
    <div class="row">
      <!-- titulo -->
      <div class="col-12 text-center">
        <h6 class="project-text-white">ME SEGUE LÁ</h6>
      </div>
      <!-- ícones -->
      <div class="col-12 text-center inline-father">
        <a href="https://twitter.com/euandrefraga" target="_blank">
          <div class="inline-child space-icon">
            <img class="size-w-30" src="../../assets/icon-twitter.svg" alt="Twitter">
          </div>
        </a>
        <a href="https://www.facebook.com/euandrefraga" target="_blank">
          <div class="inline-child space-icon">
            <img class="size-w-19" src="../../assets/icon-facebook.svg" alt="Facebook">
          </div>
        </a>
        <a href="https://www.instagram.com/euandrefraga/" target="_blank">
          <div class="inline-child space-icon">
            <img class="size-w-30" src="../../assets/icon-instagram.svg" alt="Instagram">
          </div>
        </a>
        <a href="https://www.youtube.com/channel/UC7BSLZW3MscGlXvc1dpHekA" target="_blank">
          <div class="inline-child space-icon">
            <img class="size-w-38" src="../../assets/icon-youtube.svg" alt="YouTube">
          </div>
        </a>
        <a href="https://www.linkedin.com/in/andr%C3%A9-fraga-b7b15434" target="_blank">
          <div class="inline-child">
            <img class="size-w-30" src="../../assets/icon-linkedin.svg" alt="Linkedin">
          </div>
        </a>
      </div>
      <!-- divisor -->
      <div class="col-12">
        <hr class="footer-hr mt-4">
      </div>
      <!-- contato -->
      <div class="col-12">
        <p class="project-text-white fw-bold mb-1">ENTRE EM CONTATO</p>
        <p class="project-text-white mb-0 txt-300">E-mail: andrefraga@cms.ba.gov</p>
        <p class="project-text-white mb-0 txt-300">Telefone: 71 9 9318-4941</p>
        <p class="project-text-white txt-300">Endereço: Rua Ruy Barbosa, nº27, Edf. Bahia Center, gabinete 33 - Centro - Salvador/BA</p>
      </div>
      <!-- titulo -->
      <div class="col-12 text-center">
        <h6 class="project-text-white">ANDRÉ FRAGA. TODOS OS DIREITOS RESERVADOS | 2021</h6>
      </div>
    </div>
  </div>
</footer>
