<ion-content>
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar fixed-top">
    <div class="container-fluid">
      <img class="space-left-5 size-logo" src="../../assets/logo-cerebro-andre-fraga.svg" alt="André Fraga" (click)="proximo('home')">
      <button class="btn personal-btn-login" (click)="proximo('colabore')">Login</button>
    </div>
    <div class="container-fluid mt-2 force-center">
      <div class="row">
        <div class="col-12 personal-titles-menu component-active mt-2"><span>43 IDEIAS PARA SALVADOR</span></div>
      </div>
    </div>
  </nav>
  <!-- botão voltar -->
  <div class="container component-space-nav-8">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-secondary btn-back" (click)="proximo('nosso-mandato')"><span class="fas fa-angle-left"></span>  Voltar</button>
      </div>
    </div>
  </div>
  <!-- logo Nosso Mandato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <img src="../../assets/43-ideias.svg" alt="Ideias para Salvador">
      </div>
    </div>
  </div>
  <div class="container component-bg-grey">
    <div class="col-md-12 space-to-footer">
      <p class="component-text-black pt-4">Veja o andamento das 43 ideias para Salvador que elaboramos juntos durante a campanha e que estão divididas segundo os Objetivos de Desenvolvimento Sustentável (ODS’s) abaixo:</p>
      <img class="w-100 mt-2" src="../../assets/ods.svg" alt="logo da ONU">
      <div class="row">
        <div class="col-6 mt-3">
          <img class="w-100" src="../../assets/ods-3.svg" alt="ODS 3 - Saúde e Bem-estar" (click)="proximo('ideias-ods3')">
        </div>
        <div class="col-6 mt-3">
          <img class="w-100" src="../../assets/ods-4.svg" alt="ODS 4 - Educação de qualidade" (click)="proximo('ideias-ods4')">
        </div>
        <div class="col-6 mt-3">
          <img class="w-100" src="../../assets/ods-13.svg" alt="ODS 13 - Cidades e Comunidades Sustentáveis" (click)="proximo('ideias-ods13')">
        </div>
        <div class="col-6 mt-3">
          <img class="w-100" src="../../assets/ods-11.svg" alt="ODS 11 - Cação contra a mudança global do clima" (click)="proximo('ideias-ods11')">
        </div>
      </div>
    </div>
  </div>
  <!-- rodapé -->
  <app-footer [page]="'ideias'">
  </app-footer>
</ion-content>
