/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

@font-face {   
    font-family: 'Lato';  //This is what we are going to call  
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
}

ion-content {
    --background: var(--ion-color-light);
    font-family: Lato !important;
    font-size:1em;
}

.component-bg-primary {
    --background: var(--ion-color-primary);
    background: var(--ion-color-primary);
}

.component-bg-secondary {
    --background: var(--ion-color-secondary);
    background: var(--ion-color-secondary);
}

.component-bg-grey {
    --background: #E5E5E5;
    background: #E5E5E5;
}

.component-bg-light {
    --background: white;
    background: white;
}

.component-bg-trnsparent {
    --background: transparent;
    background: transparent;
}

.personal-navbar {
    background-color: var(--ion-color-primary);
    border-radius: 0 0 0 25px;
}

.personal-btn-login {
    border-radius: 50px;
    color: var(--ion-color-secondary);
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-secondary {
    color: #fff;
    background-color: #006116;
    border-color: #006116;
}

.btn-light-green {
    color: #006116;
    background-color: #fff;
    border-color: #006116;
}

.personal-navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.personal-links-menu {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.colabore-link {
    color: var(--ion-color-medium);
    text-decoration: none;
}

.personal-titles-menu {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.text-bottom { //deprecate
    margin-top: 20px;
}

.menu-space-second-nav {
    margin-top: 16px;
    margin-bottom: 12px;
}

.space-left-5 {
    margin-left: 5px;
}

.project-text-white {
    color: var(--ion-color-light);
}

.project-text-white:hover {
    color: var(--ion-color-secondary);
}

.project-text-primary {
    color: var(--ion-color-primary);
}

.project-text-secondary {
    color: var(--ion-color-secondary);
}

.component-background {
    margin-top: -20px;
    z-index: -1;
}

.component-space-nav {
    padding-top: 6rem;
}

.component-space-nav-5 {
    padding-top: 5rem;
}

.component-space-nav-8 {
    padding-top: 8rem;
}

.component-text-black {
    font-size: 1em;
    color: var(--ion-color-dark);
    line-height: 23px;
}

.component-text-black-v2 {
    font-size: 1.25em;
    color: var(--ion-color-dark);
    line-height: 23px;
}

.component-text-grey {
    font-size: .75em;
    color: var(--ion-color-tertiary);
    line-height: 23px;
}

.component-text-success {
    font-size: 1.25em;
    color: var(--ion-color-success);
    line-height: 23px;
    font-weight: bold;
}

.component-text-danger {
    font-size: 1.25em;
    color: var(--ion-color-danger);
    line-height: 23px;
    font-weight: bold;
}

.component-btn-round {
    margin-top: -20px;
    cursor: pointer;
}

.component-more {
    font-size: 1em;
    font-weight: 600;
    color: #28052e;
    margin-top: 10px;
    margin-bottom: 25px;
}

.component-degrade {
    margin-top: -25px;
}

.component-active {
    color: var(--ion-color-secondary) !important;
}

.component-space-icon {
    margin-right: 25px;
}

.title-inside-modal {
    color: var(--ion-color-dark);
}

.content-inside-modal {
    color: var(--ion-color-dark);
    font-weight: normal;
    font-size: 1rem;
}

.component-p-space {
    margin-top: 2.5rem !important;
}

.component-hr {
    height: 5px;
    width: 65px;
    background: var(--ion-color-primary);
    opacity: 1;
    margin: 0rem 0rem 1.25rem 0rem;
}

.component-card-title {
    border-radius: 50px;
    width: 320px;
    height: 50px;
    z-index: 1;
    margin: 0 auto;
    float: none;;
    background: #006116;
}

.component-card-body {
    flex: 1 1 auto;
    padding: 0.7rem;
}

.component-card-content {
    margin-top: -25px;
    z-index: 0;
    border-radius: 14px;
}

.no-border {
    border: 0;
}

.accordion-button {
    color: var(--ion-color-primary);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    background-color: var(--ion-color-light);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 25px !important;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.title-modal {
    display: initial;
}

.title-modal::after {
    display: none;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%4D256C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .card {
        display: inline-block;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.container-left {
    padding-left: var(--bs-gutter-x,.75rem);
}

.card-space {
    margin-right: 10px !important;
}

.card-content-slide {
    height: 260px;
    margin-top: -15px;
    border-radius: 0px 0px 10px 10px;
}

.container-text {
    white-space: break-spaces;
}

.post-link {
    color: var(--ion-color-primary);
    text-decoration: none;
    font-weight: bold;
}

.post-link-another {
    color: var(--ion-color-light);
    font-weight: bold;
}

.post-link-another:hover {
    color: var(--ion-color-warning);
    font-weight: bold;
}

.component-footer {
    border-radius: 16px 16px 0px 0px;
    background-color: var(--ion-color-primary);
    margin-top: -35px !important;
}

.space-to-footer {
    padding-bottom: 5rem !important;
}

.btn-back {
    padding: .25rem 1.5rem;
    font-size: 1rem;
    border-radius: 1.2rem;
}

.btn-more {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 1.2rem;
}

.btn-colabore {
    font-size: 1rem;
    border-radius: 2.5rem;
    padding: 1rem 1rem 1rem 1.5rem;
    box-shadow: 3px 5px 0px 0.1em rgb(77 37 108);
}

.btn-response {
    padding: 0.5rem 1.5rem;
    font-size: 0.85rem;
    width: 100%;
    border-radius: 1.2rem;
}

.z-index-up {
    z-index: 1;
}

.z-index-down {
    z-index: -1;
}

.force-center {
    text-align: center;
    display: block !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 25px !important;
    left: 0;
    width: 100%;
}

.accordion-button:not(.collapsed) {
    color: var(--ion-color-primary);
    background-color: var(--ion-color-light);
}

.lateral-line {
    background: #218738;
    opacity: 0.4;
}

.lateral-content {
    background: #F9F9F9;
}

.radios-card-9 {
    border-radius: 9px;
}

.card-index {
    font-weight: bold;
    font-size: 2rem;
    color: #006116;
}

.form-control {
    display: block;
    width: 100%;
    padding: 1rem 1rem 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--ion-color-primary);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--ion-color-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(77 37 108 / 25%);
}

.title-post {
    font-size: 1.5em;
    font-weight: bold;
}

label input[type="file"] {
    display: none;
}

.v-center-h-center {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.inline-father {
    display: table;
}

.inline-child {
    display: inline-block;
}

.space-icon {
    margin-right: 1.7rem;
}

.footer-hr {
    height: 1px !important;
    background-color: var(--ion-color-light);
    opacity: 0.75;
    // margin-left: 25px;
    // margin-right: 25px;
}

.txt-300 {
    font-weight: 300;
}

.no-lr-padding {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 992px) {
    .menu-space-second-nav {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .personal-navbar {
        background-color: var(--ion-color-primary);
        border-radius: 0 0 0 20px;
    }

    .component-background {
        margin-top: -70px;
        z-index: -1;
    }

    .component-degrade {
        margin-top: -100px;
    }

    .space-icon {
        margin-right: 6.7rem;
    }

    .footer-hr {
        height: 1px !important;
        background-color: var(--ion-color-light);
        opacity: 0.75;
        // margin-left: 50px;
        // margin-right: 50px;
    }
}