<ion-content [fullscreen]="true">
  <!-- menu -->
  <app-nav 
    [page]="'home'">
  </app-nav>
  <!-- slides -->
  <ion-slides class="component-background component-space-nav" pager="true" [options]="slideOpts">
    <ion-slide>
      <img class="d-block w-100" src="../../assets/card1.png" alt="First slide">
    </ion-slide>
    <ion-slide>
      <img class="d-block w-100" src="../../assets/card2.png" alt="Second slide">
    </ion-slide>
    <ion-slide>
      <img loading="lazy" class="d-block w-100" src="../../assets/card3.png" alt="Third slide">
    </ion-slide>
  </ion-slides>
  <!-- quem sou -->
  <div class="container">
    <div class="text-center" id="saiba-mais">
      <img class="component-btn-round" src="../../assets/circle-down.svg" alt="Seta para baixo">
      <p class="component-more">Saiba mais</p>
    </div>
    <div id="bio-andre">
      <p class="component-text-black">Tenho 36 anos, sou engenheiro ambiental, pós-graduado pela FGV e estou no doutorado pela Faculdade de Medicina da USP.</p> 
      <p class="component-text-black">Exerci o cargo de Secretário de Sustentabilidade, Inovação e Resiliência de Salvador de 2014 até março de 2020, quando saí para me candidatar ao cargo de vereador. Fui eleito nas eleições municipais 2020 com 5.621 votos.</p>
      <p class="component-text-black">Também sou vice-presidente da Sociedade Brasileira de Arborização Urbana, líder da Rede de Ação Política pela Sustentabilidade (RAPS) e aluno no RenovaBR Cidades – escola que prepara e forma pessoas comuns para serem políticos fora do comum. </p>
      <p class="component-text-black">Muitos dos projetos idealizados e liderados por mim foram premiados nacional e internacionalmente, fazendo de Salvador uma referência global em sustentabilidade.</p>
      <div class="row">
        <div class="col-4 v-center-h-center ">
          <img src="../../assets/home-icons/logo-raps.svg" alt="Logo RAPS">
        </div>
        <div class="col-4 v-center-h-center ">
          <img src="../../assets/home-icons/logo-renova-br.svg" alt="Logo Renova BR">
        </div>
        <div class="col-4 v-center-h-center ">
          <img src="../../assets/home-icons/logo-pv.svg" alt="Logo Partido Verde">
        </div>
      </div>
    </div>
  </div>
  <!-- rodapé -->
  <app-footer
    [page]="'home'">
  </app-footer>
</ion-content>
